env
lenv
yenv
yenv/
menv/
lenv/
venvold
.idea
*.pyc
__pycache__
.DS_Store
db.sqlite3
mysql.cnf
config.py
files/reservations.csv
static/uploads/*
static/bookings/*.pdf
static/thumbnails/*
static/files/*
static/temps/*
nohup.out
*/migrations/*.py
!*/migrations/__init__.py
mysql/
backups/*
django_cache/*
passes/apple_files/certificate.pem
passes/apple_files/private.key
passes/apple_files/wwdr.pem
passes/apple_files/Certificates.p12
media/
passes/apple_files/Certificates.p12
.python-version
basemaster.xlsx
venv3
staticfiles
rooms/jsons/rooms_data.json
static/video/*
!static/video/index.html
.vscode
